a {
    text-decoration: none;
    color: inherit;
}

.active {
    font-weight: bold;
    color: #ffffff;
}

header {
    line-height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    color: #ededed;
    background-color: rgb(7, 57, 58);
}

.icon {
    width: 25%;

    img {
        width: 75px;
    }
}

.tabs {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.login {
    width: 25%;
    text-align: right;
}