<header>
    <div class="icon">
        <a routerLink="" class="icon-gold" >
            <fa-icon [icon]="faTrophy"></fa-icon>
        </a>
        <a routerLink="" class="icon-silver">
            <fa-icon [icon]="faTrophy"></fa-icon>
        </a>
        <a routerLink="" class="icon-bronze">
            <fa-icon [icon]="faTrophy"></fa-icon>
        </a>
    </div>
    <div class="tabs">
        <a routerLink="">Home</a>
        <a routerLink="details">Details</a>
    </div>
    <div class="login">
        <a routerLink="login">Login</a>
    </div>
</header>