<header>
    <div class="icon">
        <a href="" class="icon-gold" >
            <fa-icon [icon]="faTrophy"></fa-icon>
        </a>
        <a href="" class="icon-silver">
            <fa-icon [icon]="faTrophy"></fa-icon>
        </a>
        <a href="" class="icon-bronze">
            <fa-icon [icon]="faTrophy"></fa-icon>
        </a>
    </div>
    <div class="tabs">
        <a href="">Home</a>
        <a href="details">Details</a>
    </div>
    <div class="login">
        <a href="login">Login</a>
    </div>
</header>