<div class="root-block">
    <div class="title-block">
        <p>Medals per country</p>
    </div>

    <div class="info-block">
        <div class="info-widget">
            <p>Number of JOs</p>
            <b><p>{{ numberOfJOs$ | async }}</p></b>
        </div>
        <div class="info-widget">
            <p>Number of countries</p>
            <b><p>{{ numberOfCountries$ | async }}</p></b>
        </div>
    </div>

    <div class="chart-block">
        <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
        >
      </canvas>
    </div>
</div>